### Import the relevant libraries

In [56]:
import os
import pandas as pd
import numpy as np

### Import the dataset

In [57]:
df = pd.read_csv(os.path.join('.','data','100 Sales Records.csv'))
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [58]:
df.shape

(100, 14)

Checking if it contains any null value or not

In [59]:
df.isna().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [60]:
sales_data = df.copy()

In [61]:
sales_data.axes[0],sales_data.axes[1]

(RangeIndex(start=0, stop=100, step=1),
 Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
        'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
        'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
       dtype='object'))

In [62]:
sales_data.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

In [63]:
sales_data.loc[:,['Total Revenue','Total Cost']]

    Total Revenue  Total Cost
0      2533654.00  1582243.50
1       576782.80   328376.44
2      1158502.59   933903.84
3        75591.66    56065.84
4      3296425.02  2657347.52
..            ...         ...
95       97040.64    31825.92
96       58471.11    43367.64
97      228779.10   135031.05
98      471336.91   326815.89
99     3586605.09  2697132.18

[100 rows x 2 columns]

In [64]:
np.corrcoef(sales_data.loc[:,'Total Revenue'],sales_data.loc[:,'Total Cost'])

array([[1.        , 0.98392769],
       [0.98392769, 1.        ]])

In [65]:
sales_data.set_index('Order ID',inplace=True)

In [66]:
def remove_catagorical_data(df):
    df_columns = df.columns
    for col in df_columns:
        if df[col].dtype == object:
            df.drop(columns=col,inplace=True)

    return df

In [67]:
numeric_sales_data = remove_catagorical_data(sales_data)
numeric_sales_data.head()

,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,
669165933,9925,255.28,159.42,2533654.00,1582243.50,951410.50
963881480,2804,205.70,117.11,576782.80,328376.44,248406.36
341417157,1779,651.21,524.96,1158502.59,933903.84,224598.75
514321792,8102,9.33,6.92,75591.66,56065.84,19525.82
115456712,5062,651.21,524.96,3296425.02,2657347.52,639077.50