In [16]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import euclidean, cityblock, minkowski, hamming
from sklearn.preprocessing import LabelEncoder

In [17]:
df = pd.read_csv('abalone.csv',header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [18]:
df.columns=['Sex','Length','Diameter','Height','Whole_weight','Shucked_weight','Viscera_weigh','Shell_weight','Rings']

In [19]:
df.head()

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weigh,Shell_weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [20]:
# Encode categorical column ('Sex') to numerical values
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])  # Converts 'M', 'F', 'I' to numbers

In [21]:
# Select two sample points (rows 0 and 1)
point1 = df.iloc[0].drop("Rings").values  # Exclude target variable
point2 = df.iloc[1].drop("Rings").values

In [22]:
### **1️⃣ Euclidean Distance (Manual)**
def euclidean_distance(p1, p2):
    return sum((p1 - p2) ** 2) ** 0.5

### **2️⃣ Manhattan Distance (Manual)**
def manhattan_distance(p1, p2):
    return sum(abs(p1 - p2))

### **3️⃣ Minkowski Distance (Manual, p=3)**
def minkowski_distance(p1, p2, p):
    return sum(abs(p1 - p2) ** p) ** (1/p)

### **4️⃣ Hamming Distance (Manual)**
def hamming_distance(p1, p2):
    return sum(p1 != p2) / len(p1)

# Compute Distances
euclidean_dist = euclidean_distance(point1, point2)
manhattan_dist = manhattan_distance(point1, point2)
minkowski_dist = minkowski_distance(point1, point2, p=3)
hamming_dist = hamming_distance(point1, point2)

# Print Results
print(f"Euclidean Distance: {euclidean_dist}")
print(f"Manhattan Distance: {manhattan_dist}")
print(f"Minkowski Distance (p=3): {minkowski_dist}")
print(f"Hamming Distance: {hamming_dist}")

Euclidean Distance: 0.3592540883553032
Manhattan Distance: 0.7559999999999999
Minkowski Distance (p=3): 0.30645309388492875
Hamming Distance: 0.875